<h2>Edit Historical Landmark</h2>

<<form class="" action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="landmark[name]" value="<%= @landmark.name %>" id="name">
  <input type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id="year_completed">
  <input type="submit" name="" value="Edit Landmark" id="Edit Landmark">
</form>


<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
