<h2>Create New Landmark</h2>

<form class="" action="/landmarks" method="post">
  <input type="text" name="landmark[name]" value="" id="landmark_name">
  <input type="text" name="landmark[year_completed]" value="" id="landmark_year_completed">
  <input type="submit" name="" value="Create New Landmark" id="Create New Landmark">
</form>


<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
