<h2>Create New Figure</h2>
<form action="/figures" method="POST">

<label>Name:</label>
<input type="text" name="figure[name]" id="figure_id">

<h2>Choose existing Titles</h2>
 <% Title.all.each do |title| %>
   <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %></input>
 <% end %>



 </form>
